<div class="btn-toolbar">

</div>

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    SportLiga <small>Partidos</small>
                </h1>
            </div>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-md-6 column">
        <button ng-disabled="isEditingMatch" ng-click="go('/matches')" class="btn btn-primary">
            Nuevo Partido
        </button>
    </div>

    <div class="col-md-6 column">

    </div>
</div>

<div class="panel-body" ng-init="loadMatches()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Equipo 1</th>
                <th>Equipo 2</th>
                <th>Hora/Fecha</th>
                <th>Cerrado</th>
                <th>Lugar</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="partido in PartidosFiltrados" ng-init='liga=getLiga(partido.League) ; equipo1=getTeam(partido.Team1) ;
                equipo2=getTeam(partido.Team2); setParametro(partido.Liga)'>
                <td>{{partido.Id}}</td>
                <!--<td>{{liga.NombreLiga}}</td>-->
                <td>{{equipo1.Nombre}}</td>
                <td>{{equipo2.Nombre}}</td>
                <td>{{partido.HorayFecha}}</td>
                <td>{{partido.IsArchived}}</td>
                <td>{{partido.Lugar}}</td>
                <td>
                    <a href="" ng-click="editMatch(partido);inicio2(partido.League)" ng-disabled="nuevo"><i class=" glyphicon glyphicon-pencil"></i></a>
                </td>
                <td>
                    <a href="" ng-click="deleteMatch(partido.Id)"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" ng-show="isEditingMatch">
        <form class="col-md-4" ng-submit="finishEditingMatch()">
            <h2 class="text-center">Editar Partido</h2>
            <div class="form-box">
                <div class="form-group">
                    <input ng-model="MatchEdit.Id" type="text" class="form-control" placeholder="" disabled />
                </div>
                <div class="input-group">
                    <select class="form-control input-lg col-md-6 " ng-model="MatchEdit.Team1" ng-options="team.Nombre for team in FilterTeamsSelect"></select><br>
                </div>
                <br />
                <div class="input-group">
                    <select class="form-control input-lg" ng-model="MatchEdit.Team2" ng-options="team.Nombre for team in FilterTeamsSelect"></select><br>
                </div>
                <br />
                <div class="form-group">
                    Resultado Equipo 1
                    <input ng-model="MatchEdit.ResultadoEquipo1" type="text" class="form-control" placeholder="Resultado Equipo 1" required />
                </div>
                <div class="form-group">
                    Resultado Equipo 2
                    <input ng-model="MatchEdit.ResultadoEquipo2" type="text" class="form-control" placeholder="Resultado Equipo 2" required />
                </div>
                <div class="form-group">
                    <input ng-model="MatchEdit.HorayFecha" type="text" class="form-control" placeholder="Nuevo fecha y hora" required />
                </div>
                <div class="form-group">
                    <input ng-model="MatchEdit.Lugar" type="text" class="form-control" placeholder="Nuevo lugar" required />
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="MatchEdit.IsArchived" />Resultado Cerrado</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                    <button class="btn btn-primary btn-block" type="button" ng-click="cancelEditingMatch()">Cancelar</button>
                </div>
            </div>
        </form>
       </div>
    </div>