@{
    PageData["title"] = "SportLiga | Nueva Liga";
}

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    SportLiga <small>Nueva Liga</small>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">          
        </div>
        <div class="col-md-4 column">
            <form role="form" ng-submit="addNewLeague()">
                <div class="form-group">
                    <label >Nombre de la liga</label>
                    <input ng-model="Liga.NombreLiga" type="text" class="form-control" placeholder="Nombre de liga" required />
                </div>
                <div class="form-group">
                    <label >País</label>
                    <input ng-model="Liga.PaisLiga" type="text" class="form-control" placeholder="País" required />
                </div>
                <div class="form-group">
                    <label>Cantidad de equipos</label>
                    <input ng-model="Liga.CantEquipos" type="text" class="form-control" placeholder="Cantidad de equipos" required />
                </div>
                <div class="form-group">
                    <label>Sitio web</label>
                    <input ng-model="Liga.SitioWeb" type="text" class="form-control" placeholder="Sitio web" required />
                </div>
                <div class="form-group">
                    <label >Logo</label>
                    <input ng-model="Liga.Logo" type="file" id="exampleInputFile" />
                    <p class="help-block">
                        Escoger el logo de la liga
                    </p>
                </div>       
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="Liga.IsArchived" />Archivada</label>
                </div>
                <button type="submit" class="btn btn-default">Guardar</button>
                <a class="btn btn-default" href="/profile">Regresar</a>
            </form>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>