.clickable { cursor: pointer; }

.clickable .glyphicon {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
}

.panel-heading span {
    font-size: 15px;
    margin-right: -9px;
    margin-top: -23px;
}

a.clickable { color: inherit; }

a.clickable:hover { text-decoration: none; }