<link href="~/Views/profile.css" rel="stylesheet" type="text/css" />    
                            
<div class="container" >
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="nav nav-pills">
                <li class="dropdown pull-right">
                    <a href="./login" ng-click="logout()">Salir<strong class="caret"></strong></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row clearfix">
        <br />
        <div class="col-md-6 column">
            <div class="user-info-block">
                <div class="user-heading">
                    <div class="user-image pull-center">
                        <img src="http://www.gravatar.com/avatar/d2924737b104e306adeb9243ad3c6f7a.png" alt="Jimmy Ramos" title="Jimmy Ramos" class="img-circle">
                    </div>
                    <h3>Jimmy Ramos</h3>
                    <span class="help-block">San Pedro Sula, HN</span>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#email">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#events">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </a>
                    </li>
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="settings" class="tab-pane">
                            <h4>Settings</h4>
                        </div>
                        <div id="email" class="tab-pane">
                            <h4>Send Message</h4>
                        </div>
                        <div id="events" class="tab-pane">
                            <h4>Events</h4>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" placeholder="Buscar liga" ng-model="buscar.NombreLiga">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 column">
            <h1>  </h1>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="btn-toolbar">
                <a class="btn btn-primary" href="./newLeague">Nueva Liga</a>
            </div>
        </div>

        <div class="col-md-6 column">
            <div class="btn-toolbar">
                <a class="btn btn-primary" href="./matches">Nuevo Partido</a>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <label>        </label>
        </div>
    </div>


    <div class="row clearfix" ng-init="loadLeagues()">
        <div class="col-md-6 column well">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="ordenarPor('NombreLiga')">
                                Nombre/s
                            </a>
                            <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-NombreLiga')"></span>
                        </th>
                        <th>País</th>
                        <th>Cant. Equipos</th>
                        <th>Activa</th>
                        <th>Logo</th>
        
                        <th>Editar</th>
                        <th>Eliminar</th>
                        <th>Ver juegos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="liga in ligas | orderBy:OrdenSeleccionado | filter:buscar">
                        <td><a class="btn-link" href="/league/{{liga.Id}}">{{liga.NombreLiga}}</a></td>
                        <td>{{liga.PaisLiga}}</td>
                        <td>{{liga.CantEquipos}}</td>
                        <td>{{liga.IsArchived}} </td>
                        <td><img ng-src="~/Images/belga.jpg" style="height: 50px; width: 50px" alt="" /></td>
                        <td>
                            <a href="/editLeague/{{liga.Id}}" ng-click="editLeague(liga)"><i class=" glyphicon glyphicon-pencil"></i></a>
                            <!--  <a href="/editLeague/{{liga.Id}}" ng-click="getLiga(liga.Id)"><i class=" glyphicon glyphicon-pencil"></i></a>-->
                        </td>
                        <td>
                            <a href="" ng-click="deleteLeague(liga.Id)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                        <td>
                            <a href="/listMatches/{{liga.Id}}" ng-click="verJuegos()"><i class="glyphicon glyphicon-eye-open"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col-md-4 games-schedule">
                <div class="well">
                    <div class="games-schedule-title">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Todays Games</h5>
                            </div>
                        </div>
                    </div>
                    <div class="games-schedule-items">
                        <div class="row games-team">
                            <div class="col-md-5">
                                <img src="http://placehold.it/115x67" alt="Bangladesh">
                                <span>Bangladesh</span>
                            </div>
                            <div class="col-md-2">
                                <h4 class="img-circle">VS</h4>
                                <!-- <a href="" ng-click="editTeam(team.nombre)"><i class=" glyphicon glyphicon-pencil"></i></a>
                                    <a href="" ng-click="deleteTeam(team.nombre)"><i class="glyphicon glyphicon-remove"></i></a>-->
                            </div>
                            <div class="col-md-5">
                                <img src="http://placehold.it/115x67" alt="Australia">
                                <span>Australia</span>
                            </div>


                        </div>
                        <div class="row games-info">
                            <div class="col-md-12">
                                <p><span class="glyphicon glyphicon-play-circle"></span> 19 March, 2014 (<small>15:30 local | 09:30 GMT</small>)</p>
                                <p class="games-dash"></p>
                                <p><small>Mirpur Internation Stadium, Dhaka</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="games-schedule-items">
                        <div class="row games-team">
                            <div class="col-md-5">
                                <img src="http://placehold.it/115x67" alt="Pakistan">
                                <span>Pakistan</span>
                            </div>
                            <div class="col-md-2">
                                <h4 class="img-circle">VS</h4>
                                <!--<a href="" ng-click="editTeam(team.nombre)"><i class=" glyphicon glyphicon-pencil"></i></a>
                                    <a href="" ng-click="deleteTeam(team.nombre)"><i class="glyphicon glyphicon-remove"></i></a>   -->
                            </div>
                            <div class="col-md-5">
                                <img src="http://placehold.it/115x67" alt="India">
                                <span>India</span>
                            </div>
                        </div>
                        <div class="row games-info">
                            <div class="col-md-12">
                                <p><span class="glyphicon glyphicon-play-circle"></span> 19 March, 2014 (<small>19:30 local | 13:30 GMT</small>)</p>
                                <p class="games-dash"></p>
                                <p><small>Fahtullah Internation Stadium, Narayanganj</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="games-schedule-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 column">
            <address> <strong>SportLiga, Co.</strong><br /> Version 1.0<br /> San Pedro Sula, HN, CA 211105<br /> <abbr title="Telefono">P:</abbr> (123) 456-7890</address>
        </div>
        <div class="col-md-6 column">
            <address>
                <strong>Escríbenos a</strong><br>
                <a href="mailto:#">admin@sportliga.hn</a>
            </address>
        </div>
    </div>
</div>