<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form" ng-submit="registrarUsuario()">
            <h2>Por favor, regístrate <small>Es gratis y siempre lo será.</small></h2>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input ng-model="registerModel.Nombre" type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Primer Nombre" tabindex="1" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input ng-model="registerModel.Apellido" type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Apellido" tabindex="2" required>
                    </div>
                </div>
            </div>
            <!--  <div class="form-group">
                      <input ng-model="registerModel.Alias" type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Nombre para mostrar" tabindex="3" required>
                  </div>-->
            <div class="form-group">
                <input ng-model="registerModel.Email" type="email" name="email" id="email" class="form-control input-lg" placeholder="Correo electrónico" tabindex="4" required>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input ng-model="registerModel.Contrasena" type="password" name="password" id="password" class="form-control input-lg" placeholder="Contraseña" tabindex="5" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input ng-model="registerModel.ConfirmarContrasena" type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmar contraseña" tabindex="6" required>                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3">
                    <span class="button-checkbox">
                        <button type="button" class="btn" data-color="info" tabindex="7">Acepto</button>
                        <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                    </span>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9">
                    Dando en <strong class="label label-primary">Registrarse</strong>, aceptas los <a href="#" data-toggle="modal" data-target="#t_and_c_m">términos y condicones </a> de nuestro sitio.
                </div>
            </div>

            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6"><input type="submit" value="Registrarse" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                <div class="col-xs-12 col-md-6"><a href="/login" class="btn btn-success btn-block btn-lg">Ingresar</a></div>
            </div>
            <br />
            <div class="alert alert-success" role="alert" ng-show="ShowMessage">Se ha creado su cuenta con éxito</div>
        </form>
    </div>
</div>