<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=(localdb)\Projects;Initial Catalog=PrediLiga;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" name="local"/>
    <add connectionString="Server=02948975-a00d-42b7-81f0-a39d00121f29.sqlserver.sequelizer.com;Database=db02948975a00d42b781f0a39d00121f29;User ID=kyjaivnbjnjvvdqh;Password=i5wQ6iSgrKmkCYu7yUBNbeqnk2DwLiEnnwwSUSbpppSRMvFEkyydM7peNjEeMuCh;" name="remote"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="local"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>