<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=LaMejorPharmacy;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
    <add name="apphb" connectionString="Server=f115ca19-7690-48dc-9615-a3ad018808b2.sqlserver.sequelizer.com;Database=dbf115ca19769048dc9615a3ad018808b2;User ID=chwowhlvfvelmttg;Password=SEqXSt2FzuJFZDBaAGiwYMXpFcRzUaAPmEPWxRUTxuiGP3aSxib6KxxfQbqPKAUy;;"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="local"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
